

.slides-container {
    position: relative;
    padding-bottom: 65%;
    padding-top: 20px;
    height: 0;
    overflow: hidden;
}    

.slides-container iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}
