<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Raja Selvaraj</title>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="/static/css/mdb.min.css" rel="stylesheet">
    <!-- Your custom styles (optional) -->
    <link href="/static/css/style.css" rel="stylesheet">

    <!-- favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="/static/img/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/img/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/img/icons/favicon-16x16.png">
    <link rel="manifest" href="/static/img/icons/site.webmanifest">
    <link rel="mask-icon" href="/static/img/icons/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/static/img/icons/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="/static/img/icons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    
    {% block extrahead %}
    {% endblock %}

</head>

<body>
    <!--Main Navigation-->
    <header>

	<!--Navbar-->
	<nav class="navbar navbar-expand-lg navbar-dark elegant-color fixed-top scrolling-navbar">
	    <div class="container">
	    
	    <!-- Navbar brand -->
	    <a class="navbar-brand" href="#">Raja Selvaraj</a>

	    <!-- Collapse button -->
	    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav" aria-controls="basicExampleNav"
		    aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	    </button>

	    <!-- Collapsible content -->
	    <div class="collapse navbar-collapse" id="basicExampleNav">

		<!-- Links -->
		<ul class="navbar-nav mr-auto">

		    <li class="nav-item {% if current_page == 'home' %} active {% endif %}">
			<a class="nav-link" href="{{url_for('home')}}">Home</a>
		    </li>

		    <li class="nav-item" {% if current_page == 'resume' %} active {% endif %}">
			<a class="nav-link" href="{{url_for('resume')}}">Resume</a>
		    </li>

		    <li class="nav-item" {% if current_page == 'publications' %} active {% endif %}">
			<a class="nav-link" href="{{url_for('publications', format='rich' )}}">Publications</a>
		    </li>

		    <li class="nav-item  {% if current_page == 'talks' %} active {% endif %}">
			<a class="nav-link" href="{{url_for('talks')}}">Talks</a>
		    </li>

		    <li class="nav-item  {% if current_page == 'blog' %} active {% endif %}">
			<a class="nav-link" href="{{url_for('blog')}}">Blog</a>
		    </li>		    

		    <li class="nav-item  {% if current_page == 'photography' %} active {% endif %}">
			<a class="nav-link" href="/photography#nanogallery/nanogallery2/Featured">
			    Photography</a>
		    </li>		    

		    <li class="nav-item"  {% if current_page == 'code' %} active {% endif %}">
			<a class="nav-link" href="{{url_for('code')}}">Coding</a>
		    </li>

		    <li class="nav-item">
			<a class="nav-link" href="{{url_for('treks')}}">Treks</a>
		    </li>

		    <!-- Books - to add later -->
		    <!-- <li class="nav-item">
			 <a class="nav-link" href="#">Books</a>
			 </li> -->
		    
		</ul>
		<!-- Links -->

	    </div>
	    <!-- Collapsible content -->

	</nav>
	<!--/.Navbar-->        

	{% block content %}


    {% endblock %}

    <!--Footer-->
    <footer>

    </footer>
    <!--Footer-->
    
    <!-- SCRIPTS -->
    <!-- JQuery -->
    <script type="text/javascript" src="/static/js/jquery-3.2.1.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="/static/js/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="/static/js/mdb.min.js"></script>

    {% block extrascript %}
    {% endblock %}
    
</body>

</html>
