{% extends 'layouts/base.html' %}

{% block content %}


<!--Main layout-->
<main class="mt-5 pt-5">
    
    <!--Main container-->
    <div class="container mt-5 pt-3"">
	
	<div class="row">
	    
	    <div class="col-lg-8 col-12 mt-1 mx-lg-4">
		
                <!--Section: Classic blog listing-->
                <section class="section classic-blog-listing">
		    
		    {% for blog in blogs %}
		    
                    <!--Grid row-->
                    <div class="row mb-2">
                        <!--Grid column-->
                        <div class="col-md-12">
                            <!--Excerpt-->
                            <h4 class="font-weight-bold dark-grey-text pb-3">
                                <strong>{{blog.title}}</strong>
                            </h4>
			    
                            <p class="dark-grey-text">
				{{blog.html_summary() | safe }} 
                            </p>
			    


                            <div class="pb-2">
				<a href="{{url_for('blog_post', slug=blog.slug)}}" 
				   class="btn btn-primary btn-sm font-weight-bold dark-grey-text">
				    Read more
				</a>
                            </div>
                            <!--Post data-->
                            <div class="post-data mt-1 pt-1">
                                <h6>
                                    Posted on {{blog.date_created.strftime("%d/%m/%Y")}}
                                </h6>
				

				<ul class="list-unstyled list-inline deep-orange-text">
				    {% for t in blog.tags.split(',') %}
				    <span class="badge grey">{{t}}</span>
				    {% endfor %}
				</ul>
				
                            </div>
			    
                        </div>
                        <!--Grid column-->
                    </div>
                    <!--Grid row-->
		    <hr>
		    
		    {% endfor %}

                </section>
                <!--Section: Classic blog listing-->
            </div>
	    

	    <!-- ---------------------- -->
	    <!-- Side bar -->
	    <!-- ---------------------- -->


	    <div class="col-lg-3 col-12 px-4 mt-1 blue-grey lighten-5">

                <!--Author-->
                <section class="mb-4">

                    <hr class="mt-4">
                    <p class="font-weight-bold dark-grey-text text-center spacing">
                        <strong>ABOUT THIS BLOG</strong>
                    </p>
                    <hr>

                    <!-- Avatar
			 <div class="flex-center mt-4">
                         <img src="https://mdbootstrap.com/img/Photos/Avatars/img (33).jpg" class="img-fluid img-author z-depth-1">
			 </div> -->

                    <!--Description-->
                    <p class="mt-3 dark-grey-text font-small text-center">
                        <em>Occasional writings on medicine, travel, photography or code. And anything else ...</em>
                    </p>
		    <!-- 
			 <ul class="list-unstyled circle-icons flex-center">
                         <!--Facebook-->
                    <!-- <li>
                         <a class="fb-ic">
                         <i class="fa fa-facebook"> </i>
                         </a>
			 </li>
			 <!--Twitter-->
                    <!-- <li>
                         <a class="tw-ic">
                         <i class="fa fa-twitter"> </i>
                         </a>
			 </li>
			 <!--Google +-->
                    <!-- <li>
                         <a class="gplus-ic">
                         <i class="fa fa-google-plus"> </i>
                         </a>
			 </li>
			 </ul> -->

                </section>
                <!--Author-->

                <!--Tags-->
                <hr>
                <p class="font-weight-bold dark-grey-text text-center spacing">
                    <strong>TAGS</strong>
                </p>
                <hr>

                <!--Archive-->
                <section class="archive mb-5">

                    <!--Grid row-->
                    <div class="row">

                        <!--Grid column-->
                        <div class="col-md-12">

                            <!--List-->
                            <ul class="list-unstyled mt-3">
				{% for t, count in tags %}
                                <li>
				    <button type="button" class="btn btn-primary btn-sm">
					{{t}} <span class="badge badge-light">{{count}}</span>
				    </button>
                                </li>
				{% endfor %}

                            </ul>
                            <!--List-->

                        </div>
                        <!--Grid column-->

                    </div>
                    <!--Grid row-->

                </section>
                <!--Archive-->

		<!-- Other posts -->
                <hr>
                <p class="font-weight-bold dark-grey-text text-center spacing">
                    <strong>Posts</strong>
                </p>
                <hr>
                <!--Archive-->
                <section class="archive mb-5">

                    <!--Grid row-->
                    <div class="row">

                        <!--Grid column-->
                        <div class="col-md-12">

                            <!--List-->
                            <ul class="list-unstyled mt-3">
				{% for blog in blogs %}
				<li>
                                    <h6 class="">
                                        <a href="{{blog.slug}}" class="dark-grey-text">{{blog.title}}</a>
                                    </h6>
				    <p class="grey-text">{{blog.date_created}}</p>
                                </li>
				{% endfor %}
			    </ul>
			</div>
		    </div>
		</section>

            </div>

	    </div>



	    
	</div>
        
    </main>
    <!--Main layout-->

{% endblock %}
