{% extends 'layouts/base.html' %}

{% block extrahead %}
{% endblock %}

{% block content %}

    <!--Main layout-->
    <main class="mt-5">

	<!--Main container-->
	<div class="container pt-5">

	    <div class="card">

		<div class="card-body">
		    <div class="card-title">
			<h3>{{blog.title}}</h3>
			<p class="grey-text">{{blog.date_created}}</p>
		    </div>

		    <hr>

		    <div class="dark-grey-text mb-3 mt-4 mx-4">
			
			{{blog.html_content() | safe}}

		    </div>
		</div>
	    
	</div>
	<!--Main container-->
        
    </main>
    <!--Main layout-->

{% endblock %}
