{% extends 'layouts/base.html' %}

{% block extrahead %}
<meta name="Description" content="Raja Selvaraj. Coding projects">
{% endblock %}


{% block content %}

<!--Main layout-->
<main class="mt-5 pt-5">
    
    <!--Main container-->
    <div class="container pt-5">

	<div class="row">

	    <!-- Main area for projects -->

	    <div class="col-lg-10 col-12 mt-1 mx-lg-4">
		
		{% for project in projects %}

		<div class="card mt-5">

		    <div class="card-body"
			<h4 class="card-title">
			    {{project.name}}</h4>

			<p class="card-text">
			    {{project.description}}
			</p>

			{% if project.image %}
			<img src="static/img/code/{{project.image}}" alt="">
			{% endif %}
			
		    </div>
		    
		    <!-- Card footer -->
		    <div class="rounded-bottom grey lighten-3 text-center pt-3">
			<ul class="list-unstyled list-inline font-small">

			    {% if project.more_info_link %}
			    <li class="list-inline-item pr-2 indigo-text cit-count">
				<i class="fa fa-comment-o pr-1"></i>
				<a href="{{project.more_info_link}}">More info</a>
			    </li>
			    {% endif %}

			    {% if project.downloads_link %}
			    <li class="list-inline-item pr-2 indigo-text cit-count">
				<i class="fa fa-comment-o pr-1"></i>
				<a href="{{project.downloads_link}}">Downloads</a>
			    </li>
			    {% endif %}

			    {% if project.source_link %}
			    <li class="list-inline-item pr-2 indigo-text cit-count">
				<i class="fa fa-comment-o pr-1"></i>
				<a href="{{project.source_link}}">Source</a>
			    </li>
			    {% endif %}				
			    
			</ul>
		    </div> <!-- rounded-bottom -->

		</div> <!-- card -->
		
		{% endfor %}
	    </div>   <!-- End of main area -->


	</div>
	<!--Main container-->
        
    </main>
    <!--Main layout-->
{% endblock %}
