{% extends 'layouts/base.html' %}


{% block extrahead %}
<meta name="Description" content="Personal website of Raja Selvaraj">
{% endblock %}

{% block content %}


<!--Mask-->
<div id="intro" class="view">

    <div class="mask rgba-black-light">

	<div class="container-fluid d-flex align-items-center justify-content-center h-100 ml-5 pl-5 mt-3">

	    <div class="row d-flex justify-content-center text-center">

		<div class="col-md-10">

		    <!-- Heading -->
		    <h2 class="display-4 font-weight-bold white-text pt-5 mb-2">Raja Selvaraj</h2>

		    <!-- Divider -->
		    <!-- <hr class="hr-light"> -->

		    <!-- Description -->
		    <h4 class="white-text my-4">But a man's reach should exceed his grasp</h4>

		</div>

	    </div>

	</div>

    </div>

</div>
<!--/.Mask-->

    </header>


{% endblock %}
