{% extends 'layouts/base.html' %}

{% block extrahead %}
<link rel="stylesheet" href="/static/css/slides.css"> 
{% endblock %}

{% block content %}

    <!--Main layout-->
    <main class="mt-5">

	<!--Main container-->
	<div class="container pt-5">

	    <h3>Not found !</h3>
	    
	</div>
	<!--Main container-->
        
    </main>
    <!--Main layout-->

{% endblock %}
