{% extends 'layouts/base.html' %}


{% block extrahead %}


<meta name="Description" content="Photography portfolio  of Raja Selvaraj">
<link  href="https://unpkg.com/nanogallery2@2.4.2/dist/css/nanogallery2.min.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}


    <div class="container mt-5 pt-5">

	<div class="card bg-dark">
	    <div class="card-body">
        <!-- ### start of the gallery definition ### -->
		<div id="nanogallery2" data-nanogallery2='{
			 "kind":             "nano_photos_provider2",
			 "dataProvider":     "http://nanophotosprovider.rajajs.webfactional.com/nano_photos_provider2.php",
			 "thumbnailHeight":  300,
			 "thumbnailWidth":   "auto",
			 "thumbnailHoverEffect2": "scale120",
			 "galleryTheme": "dark",
			 "thumbnailGutterWidth": 20,
			 "thumbnailGutterHeight": 20,

			 "breadcrumbOnlyCurrentLevel":  false,			 
			 
			 "allowHTMLinData": true,
			 "galleryFilterTags": true,		 
			 
			 "viewerToolbar":   {
			 "standard":   "label",
			 "minimized":  "label" },
			 "viewerTools":    {
			 "topLeft":   "",
			 "topRight":  "fullscreenButton, closeButton" }   		 
			 }'>      
	</div>	
	    </div>
	
    </div>
</section>

{% endblock %}

{% block extrascript %}
<!-- nanogallery2 -->

<script  type="text/javascript" src="https://unpkg.com/nanogallery2@2.4.2/dist/jquery.nanogallery2.min.js"></script>

{% endblock %}
