{% extends 'layouts/base.html' %}


{% block extrahead %}


<meta name="Description" content="Photography portfolio  of Raja Selvaraj">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css" />
<link rel="stylesheet" href="/static/css/cards-gallery.css">


{% endblock %}

{% block content %}


<section class="gallery-block cards-gallery">
    <div class="container mt-5">
	<div class="card-columns">

	    {% for photo in photos %}
	        <div class="card border-0 transform-on-hover">
	            <a class="lightbox"
		       href="/static/img/photos/{{photo.filename}}"
		       data-caption="<h5>{{photo.title}}  <span class='font-small grey-text'> {{photo.location}}, {{photo.date_taken.strftime('%b %Y')}} </span></h5>
			      <p> <i class='fa fa-camera mr-2'></i>{{photo.camera_manufacturer}} {{photo.camera_model}}
			      | {{photo.focal_length}} mm | f {{photo.aperture}} | {{photo.shutter}} sec | ISO {{photo.iso}}</p>">
	                <img src="/static/img/thumbs/{{photo.filename}}" alt="Card Image" class="card-img-top">
	            </a>
	            <div class="card-body">
	                <!-- <h6><a href="#">{{photo.title}}</a></h6> -->
			<p class="text-muted card-text">{{photo.location}} | {{photo.date_taken.strftime('%b %Y')}}</p>
	                <!-- <p class="text-muted card-text">{{photo.caption}}</p> -->
	            </div>
	        </div>
	    {% endfor %}
	    
	</div>
    </div>
</section>

{% endblock %}

{% block extrascript %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
<script>
 baguetteBox.run('.cards-gallery',
		 { animation: 'slideIn',
                   fullScreen: true}
 );
</script>
{% endblock %}
