{% extends 'layouts/base.html' %}

{% block extrahead %}
<meta name="Description" content="Academic publications of Raja Selvaraj">
{% endblock %}


{% block content %}

<!--Main layout-->
<main class="mt-5">

    <!--Main container-->
    <div class="container pt-5"  id = "publications">

	<!-- Top row - info and search -->
	<div class="row">

	    <!-- Info col -->
	    <div class="col-md-4"
		 
		<!--Card-->
		<div class="card">
		    <!--Card content-->
		    <div class="grey lighten-4">

			<div class="card-body">
			    <!--Title-->
			    <h4 class="card-title">{{pubs | length}} publications</h4>
			    <!--Text-->
			    <p class="card-text">
				{{summary['total_cit_count']}} citations | 
				<strong>h-index 9</strong> | 
				(As of June 2019)
			    </p>
			    <a href="#">Researchgate</a>
			    |
			    <a href="#">Google Scholar</a>
			    
			</div> <!-- card-body -->
		    </div>

		</div>
		<!--/.Card-->

	    </div>

	    <!-- col with search -->
	    <div class="col-md-4"
		<form class="form-inline">
		    <div class="md-form mt-0">
			<input class="form-control mr-sm-2 search"
			       type="text" id="input" placeholder="Search" aria-label="Search">
		    </div>
		</form>		
	    </div>


	    <!-- switch to rich  -->
	    <div class="col-md-4">	    
		<a class="btn btn-primary btn-sm" href="{{url_for('publications', format='rich' )}}"
			  type="button">Switch to rich format
		</a>
	    </div>
	    
	</div> <!-- row -->
	

	<!-- ---------------------------> 

	<div class="row">

	    <!-- Column for pubs -->

	    <div class="col-lg-8 col-12 mt-1 mx-lg-4 list">

		<ol class="mt-5">
		    {% for pub in pubs %}
		    <li class="mix {{pub.pubtype}} yr{{pub.year}}"
			       id ="pubcard"
			       data-year="{{pub.year}}"
			       data-cit="{{pub.cit_count}}">
			{{pub.title}}.
			{{pub.author}}.
			{{pub.journal}}
			{{pub.year}}

			{% if pub.volume %}
			;{{pub.volume}}
			{% endif %}

			{% if pub.pages %}
			:{{pub.pages}}
			{% endif %}

			{% if pub.status == 'Accepted' %}
			. Accepted for publication.
			{% endif %}
			
		    </li>
		    {% endfor %}
		</ol>
		
	    </div>   <!-- End of main area -->

	    <!-- Sidebar -->
	    <div class="col-lg-3 col-12 px-4 mt-1 blue-grey lighten-5">

                <p class="font-weight-bold dark-grey-text text-center spacing mt-4">
		    <strong>Sort by </strong>
                </p>		
                <ul class="list-unstyled mt-3">
		    <li>
			<button class="btn btn-primary btn-sm"
				       type="button" data-sort="year:asc">Oldest first
			</button>
		    </li>
		    <li>
			<button class="btn btn-primary btn-sm"
				       type="button" data-sort="year:descending">Newest first
			</button>
		    </li>

		    <li>
			<button class="btn btn-primary btn-sm"
				       type="button" data-sort="cit:descending">Most cited
			</button>
		    </li>		    
		</ul>
		
		<hr>
		
                <p class="font-weight-bold dark-grey-text text-center spacing mt-4">
		    <strong>Publication type</strong>
                </p>
		
                <ul class="list-unstyled mt-3">
		    <li>
			<button class="btn btn-sm btn-primary" type="button" data-filter="all">All</button>
		    </li>
		    <li>
			<button class="btn btn-sm btn-primary" type="button" data-filter=".original_research">Original Research <span class="badge badge-light">{{summary['pub_type_counts']['original_research']}}</span></button>
		    </li>
		    <li>
			<button class="btn btn-sm btn-primary" type="button" data-filter=".case_report">Case Reports / Images<span class="badge badge-light">{{summary['pub_type_counts']['case_report']}}</span></button>
		    </li>
		    <li>
			<button class="btn btn-sm btn-primary" type="button" data-filter=".letter">Letter to Editor<span class="badge badge-light">{{summary['pub_type_counts']['letter']}}</span></button>
		    </li>
		    <li>
			<button class="btn btn-sm btn-primary" type="button" data-filter=".editorial">Editorial<span class="badge badge-light">{{summary['pub_type_counts']['editorial']}}</span></button>
		    </li>
		    <li>
			<button class="btn btn-sm btn-primary" type="button" data-filter=".review">Review article<span class="badge badge-light">{{summary['pub_type_counts']['review']}}</span></button>
		    </li>
		    <li>
			<button class="btn btn-sm btn-primary" type="button" data-filter=".book">Book / Book chapter<span class="badge badge-light">{{summary['pub_type_counts']['book']}}</span></button>
		    </li>			

		</ul>

		<hr>
                <p class="font-weight-bold dark-grey-text text-center spacing">
		    <strong>Publication year</strong>
                </p>
                <ul class="list-unstyled mt-3">
		    {% for yr in summary['pub_years'] %}

		    <li>
			<button class="btn btn-sm btn-primary"
				       type="button" data-filter=".yr{{yr}}">
			    {{yr}}
			    <span class="badge badge-light">
				{{summary['pub_year_counts'][yr]}}
			    </span>
			</button>			    
		    </li>
		    
		    {% endfor %}
		</ul>
	    </div>

	</div> <!-- Row -->
	

    </div>
    <!--Main container-->
    
</main>
<!--Main layout-->
<script src="/static/js/mixitup.min.js"></script>
<script>
 var mixer = mixitup('.list');
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jets/0.14.0/jets.min.js"></script>    

<script>
 var jets = new Jets({
     searchTag: '#input',
     contentTag: '#pubcard',
     /* manualContentHandling: function(tag) {
	return tag.getAttribute('title');
	}*/	 
 });
</script>
	
{% endblock %}
