{% extends 'layouts/base.html' %}

{% block extrahead %}
<link rel="stylesheet" href="/static/css/slides.css"> 
{% endblock %}

{% block content %}

    <!--Main layout-->
    <main class="mt-5">

	<!--Main container-->
	<div class="container pt-5">

	    <div class="slides-container">
		<iframe src="/static/talks/sample/sample.html" width="800" height="600">
		</iframe>
	    </div>
	    
	</div>
	<!--Main container-->
        
    </main>
    <!--Main layout-->

{% endblock %}
