{% extends 'layouts/base.html' %}

{% block extrahead %}
<link rel="stylesheet" href="/static/css/slides.css"> 
{% endblock %}

{% block content %}

<!--Main layout-->
<main class="mt-5">

    <!--Main container-->
    <div class="container pt-5">

	<div class="row">

		<div class="col-lg-8 col-12 mt-1 mx-lg-4"> <!-- for iframe -->
		    <div class="slides-container">
			<iframe
			    src="/static/talks/{{filename}}" width="600" height="400">
			</iframe>
		    </div>
		</div>

		<!-- sidebar -->
		<div class="col-lg-3 col-12 px-4 mt-1 blue-grey lighten-5">
                    <hr>
                    <p class="font-weight-bold dark-grey-text text-center spacing">
			<strong>{{talk.title}}</strong>
                    </p>
                    <hr>

                    <section class="archive mb-5">

			<!--Grid row-->
			<div class="row">

                            <!--Grid column-->
                            <div class="col-md-12">

				<!--List-->
				<ul class="list-unstyled mt-3">
				    <li>
					<strong>{{talk.meeting}}</strong>
				    </li>
				    <li>
					<strong>{{talk.location}} | {{talk.talk_date}}</strong>
				    </li>
				    <hr>
				    <li class="mt-2">
					<a href="/static/talks/{{filename}}"
					target="_blank">
					    <p class="indigo-text">View in separate tab</p>
					</a>
                                    </li>

				</ul>
			    </div>
			</div>
		    </section>


		    
		</div>
		
	    </div>  <!-- row -->
	    
	</div>
	<!--Main container-->


	
    </main>
    <!--Main layout-->

{% endblock %}
