{% extends 'layouts/base.html' %}

{% block extrahead %}
<meta name="Description" content="Talks of Raja Selvaraj. Related to Cardiac electrophysiology">
{% endblock %}

{% block content %}

    <!--Main layout-->
    <main class="mt-5">

	<!--Main container-->
	<div class="container pt-5">

	    <div class="row pb-5">
		<h1>Talks</h1>
		<button class="btn btn-sm btn-primary ml-5" type="button" data-filter="all">All</button>
		<button class="btn btn-sm btn-primary ml-2" type="button" data-filter=".ecg">ECG</button>
		<button class="btn btn-sm btn-primary ml-2" type="button" data-filter=".ep">Interventional EP</button>
		<button class="btn btn-sm btn-primary ml-2" type="button" data-filter=".nonint_ep">Non interventional EP</button>
		<button class="btn btn-sm btn-primary ml-2" type="button" data-filter=".device">Devices</button>
		<input class="form-control mr-sm-2 search"
		       type="text" id="input" placeholder="Search" aria-label="Search">		
		
	    </div>

	    
	    <!--Grid row-->
	    <div class="row pt-2 list">
		

		{% for talk in talks %}
		<!--Grid column-->
		<div class="col-lg-4 col-md-12 mb-4  mix {{talk.category}}" id="talkcard">

		    <!--Card-->
		    <div class="card">

			<!--Card image-->
			<!-- <div class="view overlay">
			     <img src="/static/talks/images/{{talk.image}}" class="card-img-top" alt="">
			     <a href="#">
			     <div class="mask rgba-white-slight"></div>
			     </a>
			     </div> -->

			<!--Card content-->
			<div class="card-body">
			    <!--Title-->
			    <h4 class="card-title">{{talk.title}}</h4>
			    <!--Text-->
			    <p class="card-text"><strong>{{talk.meeting}}</strong>
				<br>
				{{talk.location}} {{talk.talk_date.strftime("%d-%m-%Y")}}				
			    </p>
			    {% if talk.slide_filename %}
			    <a href="{{url_for('talk', slug=talk.slug, notes=0 )}}">Slides</a> |
			    {% endif %}
			    {% if talk.slide_notes_filename %}
			    <a href="{{url_for('talk', slug=talk.slug, notes=1 )}}">Slides with notes</a> |
			    {% endif %}
			    {% if talk.pdf_filename %}
			    <a href="{{url_for('talk', slug=talk.slug, notes=2 )}}">PDF</a> |
			    {% endif %}
			    {% if talk.video_url %}
			    <a href="{{talk.video_url}}">Video</a> |
			    {% endif %}
			</div>

		    </div>
		    <!--/.Card-->

		</div>
		<!--Grid column-->
		{% endfor %}

	    </div>
	    <!--Grid row-->

	</div>
	<!--Main container-->
        
    </main>
    <!--Main layout-->

    <script src="/static/js/mixitup.min.js"></script>
    <script>
     var mixer = mixitup('.list');
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jets/0.14.0/jets.min.js"></script>    

    <script>
     var jets = new Jets({
	 searchTag: '#input',
	 contentTag: '#talkcard',
	 /* manualContentHandling: function(tag) {
	    return tag.getAttribute('title');
	    }*/	 
     });
    </script>


    
{% endblock %}
