{% extends 'layouts/base.html' %}


{% block extrahead %}
<meta name="Description" content="Treks of Raja Selvaraj">

<script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />

{% endblock %}

{% block content %}


    <!--Main layout-->
    <main class="mt-5 pt-5">

	<!--Main container-->
	<div class="container">

	    <div class="row">
	    <!-- Maps -->
	    <div class="col-md-6">
		<div id="map" style="width:500px; height:500px;"></div>

		<script>
		 // initialize Leaflet
		 var map = L.map('map').setView({lon: 80, lat: 31}, 5);
		 
		 // add the OpenStreetMap tiles
		 L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
		     maxZoom: 19,
		     attribution: '&copy; <a href="https://openstreetmap.org/copyright">OpenStreetMap contributors</a>'
		 }).addTo(map);
		 
		 // show the scale bar on the lower left corner
		 L.control.scale().addTo(map);

		 {% for trek in treks %}
		 {% if trek.latitude != None %}
		 L.marker({lon: {{trek.longitude}}, lat: {{trek.latitude}} }).bindPopup('{{trek.name}}').addTo(map);
		     {% endif %}
		     {% endfor %}
		     
		</script>

	    </div>

	    <!-- Trek description -->
	    <div class="col-md-6">
	    {% for trek in treks %}
	    
	    <!--each trek-->
	    <div class="row">
		<!--Grid column-->
		<div class="col-md-4 mb-4">
		    {% if trek.image != None %}
		    <!--Featured image -->
		    <div class="view overlay z-depth-1-half">
			<img src="/static/img/trek/{{trek.image}}" class="card-img-top" alt="">
			<div class="mask rgba-white-light"></div>
		    </div>
		    {% endif %}
		</div>
		<!--Grid column-->
		<!--Grid column-->
		<div class="col-md-8 mb-4">
		    <h2>{{trek.name}}</h2>
		    <hr>
		    {{trek.date.strftime("%d-%m-%Y")}} Difficulty: {{trek.difficulty}} Duration: {{trek.duration}} days
		    <hr>
		    <p>{{trek.description}}</p>
		</div>
		<!--Grid column-->
	    </div>
	    <!--Grid row-->

	    {% endfor %}
	    </div> <!-- trek description -->
	    </div> <!-- row -->
	    
	    </div> <!-- container -->
	    
    </main>
    <!--Main layout-->

{% endblock %}
